.holder {position: relative;
	}
    
img {
     width:100%;
    height:100%;
   }  
a {
	font-size: initial;
  	position: absolute;
    left: 44.7%;
}

#zelen-url {
	top: 11%;
      }


#device-ui-url {
      	top: 17%;
      }
